
body {
  background-image: url(assets/burger-friends.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}

/* HEADER */
nav {
  background-color: #0fb9b1;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

#title {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 2%;
}

.add-recipe-button {
  background-color: rgba(225, 225, 225, .9);
  margin: 1% 2% 1% 1%;
  padding: 1% 1% 1% 1%;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

/* MAIN */
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#right-section {
  min-width: 30%;
  min-height: 30%;
  background-color: rgba(225, 225, 225, .9);
  margin-top: 3%;
  margin-left: 5%;
  max-width: 400px;
}

.recipe-container {
  text-align: center;
  padding-top: 25%;
  font-weight: bold;
}

.should-make {
  font-size: 1.3em;
}

.recipe-display {
  font-size: 2.5em;
  margin: 0;
}

.cookpot {
  height: 40%;
  width: 40%;
  margin: 25% 25% 25% 30%;
}

#left-section {
  min-width: 30%;
  min-height: 30%;
  background-color: rgba(225, 225, 225, .9);
  margin-top: 3%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

.looking-for {
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 10%;
  font-weight: bold;
}

.what-looking-for {
  font-size: 1.8em;
}

.required-star {
  color: #ee5253;
}

.lets-cook-button {
  background-color: #0fb9b1;
  padding: 10px 40px 10px 40px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* FOOTER-Add a recipe */

footer {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(225, 225, 225, .9);
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
}

.add-new-button {
  background-color: #0fb9b1;
  border: none;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 10px;
  width: 60%;
  height: 100%;
}

.add-button {
  width: 150px;
}
.recipe-type, .recipe-name, .add-button{
  margin-left: 2.7%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.recipe-name-input, .recipe-type-input {
  height: 100%;
}
