/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/
/* ALL */
body {
  background-image: url(assets/burger-friends.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}

/* HEADER */
header {
  background-color: #0fb9b1;
  height: 75px;
}

#title {
  text-align: left;
  font-size: 1.5em;
  padding: 25px 0px 20px 25px;
  /* needs font weight - not working */
}

/* MAIN */
#container {
  margin: 0px;
}

#left-section {
  border: black;
  /* border-style: solid; */
  float: left;
  width: 50%;
  margin: 0px;
}

#right-section {
  border: black;
  /* border-style: solid; */
  float: right;
  width: 50%;
  margin: 0px;
}

.squares {
  background-color: rgba(225, 225, 225, .9);
  width: 400px;
  height: 400px;
}

.left-square {
  margin: 20px 80px 100px 80px;
}

.right-square {
  margin: 20px 20px 100px 80px;
}

.cookpot {
  height: 150px;
  width: 150px;
  margin: 115px;
}

.what-looking-for {

}
.required-star {
  color: #ee5253;
}

.food-form-choice {
  padding: 10px 0px 0px 40px;
}

.lets-cook-button {
  background-color: #0fb9b1;
  padding: 10px 40px 10px 40px;
  border: none;
  border-radius: 5px;
  /* margin: 30px; */
}
